@font-face {
    font-family: 'HYWenHei 85W';
    font-style: normal;
    font-weight: normal;
    src: local('HYWenHei 85W'), url('zhcn.woff') format('woff');
}

body {
    height: 100%;
    background-image: url('Element_Dendro_Background.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.titulo_boneco {
    margin-top: 2rem;
    margin-left: 7rem;
}

.texto_boneco {
    font-size: 2rem;
    font-family: 'HYWenHei 85W';
    color: #FFB84B;
}

.sessão {
    margin-top: 6rem;
    height: 100%;
    padding-right: 4rem;
    padding-left: 4rem;
    backdrop-filter: blur(5px);
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.voiceline_escolha {
    flex-direction: column;
    align-self: start;
    font-family: 'HYWenHei 85W';
    display: flex;
    width: 20%;
}

.voiceline_title {
    margin: 0.4rem;
    font-size: 1.5rem;
    background-color: rgba(37, 37, 37, 0.5);
    border: 2px solid white;
    padding: 1rem;
    cursor: pointer;
    width: 100%;
    transition: all 0.5s ease-in-out;
}

.voiceline_title:hover {
    background-color: rgba(37, 37, 37, 0.7);
    scale: 1.08;
}

.Boneco {
    display: inline;
}

.voiceline_texto {
    display: inline;
}

.elnor {
    height: 55rem;
}

.voiceline_escolha h1 {
    color: white;
}

.voiceline_subtitulo {
    font-family: 'HYWenHei 85W';
    color: white;
    font-size: 2rem;
    margin-bottom: 1.5rem;
}

.voiceline_paragrafo {
    font-family: 'HYWenHei 85W';
    font-size: 1.6rem;
    width: 25rem;
    color: white;
    line-height: 1.2;
}